extends /layouts/application.pug

block content
  .row
    .col-lg-7.col-12
      +formFor(f, { name: 'Change Password', url: urlFor('password'), method: 'post' })
        +input(f, 'password', { as: 'password' })
        +input(f, 'newPassword', { as: 'password' })
        +input(f, 'confirmation', { as: 'password' })
        +button(f)
    include /account/sidebar.pug
