extends /layouts/application.pug

block content
  +formFor(f, { name: 'Sign in', url: urlFor('session'), method: 'post' })
    +input(f, 'email')
    +input(f, 'password', { as: 'password' })
    +button(f)
