extends /layouts/application.pug

block content
  .row
    .col-lg-7.col-12
      +formFor(f, { name: 'Change Status', url: `/statuses/${statusId}`, method: 'post' })
        +input(f, 'name')
        +button(f)
      a.text-danger(href=`/statuses/${statusId}` data-method='delete' data-confirm='Are you sure you want to delete this status?' rel='nofollow') Delete status

