extends /layouts/application.pug

block head
  title TaskStatuses

block content
  table.table.table-stripped
    thead
      tr
        th Id
        th Name
        th Edit
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td
            a.no-color(href=urlFor('editStatus', status.id)) edit

