extends /layouts/application.pug

block content
  .row
    .col-lg-7.col-12
      +formFor(f, { name: 'Add Status', url: urlFor('newStatus'), method: 'post' })
        +input(f, 'name')
        +button(f)
