extends /layouts/application.pug

block head
  title Welcome

block content
  .row.justify-content-center.mt-4.mb-4
    h3.text-center Welcome to Task Manager!
  if isSignedIn()
    .row.justify-content-center.jumbotron
      a.btn.btn-lg.btn-success.m-4(href=urlFor('newTask')) Сreate Task
      a.btn.btn-lg.btn-success.m-4(href=urlFor('newStatus')) Create Status
      a.btn.btn-lg.btn-success.m-4(href=urlFor('tasks')) Search Task
