extends /layouts/application.pug

block content
  .col-lg-7.col-12.mt-4
    p.mt-2.mb-3= 'Full Name: ' + user.fullName
    p.mt-2.mb-3= 'Email: ' + user.email
    p.mt-2.mb-3= 'Created: ' + user.created
