extends /layouts/application.pug

block content
  .row.justify-content-center.pb-5
    .col-12.col-lg-6.col-xl-4
      +formFor(f, { name: 'Sign Up', url: urlFor('users'), method: 'post' })
        +input(f, 'email')
        +input(f, 'firstName')
        +input(f, 'lastName')
        +input(f, 'password', { as: 'password' })
        +button(f)
